/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: skyblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: black;
}

form {
  margin-bottom: 20px;
}

input {
  margin-right: 10px;
}

button {
 margin: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}
