body {
    padding: 0;
    margin: 0;
}

.menu{
    height: 100px;
    background-color: #2f3d46 ;
    
}
.github-icon{
    display: inline;
    position: relative;
    top: 15px;
    left: 20px;
}

.heading{
    display: inline;
    left: 45%;
    position: relative;
    color: white;
}

.side{
    width: 500px;
    height: 1000px;
    background-color: #2f3d46 ;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 20px;
    display: inline-block;  
    position: relative;
    left : 60px;
}
    
.content{
    width: 1500px;
    height: 300px;
    background-color: #2f3d46 ;    
    border-radius: 20px;
    display: inline-block;
    position: relative;
    left:200px;
    
}
.box1{
    width: 22%;
    margin-top:15px;
    margin-left: 45px;
    height: 300px;
    background-color: white;
    display: inline-block;
    position: absolute; 
    top: 80   %
}