/* .light{
  width: 200px;
  height: 200px;
  border-radius: 50%;
} */

/* Filename - App.css */

/* .App {
	text-align: center;
}

.geeks {
	color: green;
}

.light {
	color: red;
	background-color: white;
}
.dark {
	color: lightgreen;
	background-color: gray;
}

button {
	font-size: large;
	margin: 2%;
	background-color: green;
	color: white;
	border-radius: 5px;
	padding: 10px;
} */

.quote{
	background: rgb(32,126,205);
background: linear-gradient(202deg, rgba(32,126,205,1) 0%, rgba(32,173,205,0.7022148058252426) 100%);
}